
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Html.BeginForm();
}

@Html.Label("UserName") &nbsp; @Html.TextBox("UserName", "")
<br />
<br />
@Html.Label("Password") &nbsp; @Html.Password("Enter Your Name")
<br />
<br />
@Html.Label("Male") &nbsp; @Html.RadioButton("Gender", "Male")
@Html.Label("Female") &nbsp; @Html.RadioButton("Gender", "Female")
<br />
<br />
@Html.Label("CountryList") &nbsp; @Html.DropDownList("CountryList", new SelectList(new[] { "India", "Pakistan", "Srilanka", "Australiya" }), "select")
<br />
<br />
@Html.Label("Comments") &nbsp; @Html.TextArea("Comments Area", "", 5)
<br />
<br />
@Html.CheckBox("Accepted") &nbsp; @Html.Label("I Accepted")
<br />
<br />
<input type="Submit" value="Submit" class="form-control" />
@{
    Html.EndForm();
}