@model Learn.Models.Introduction
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
    <tr>
        <td>
            <b>Id</b>
        </td>
        <td>
            @Model.Id
        </td>
    </tr>
    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>
            <b>Course</b>
        </td>
        <td>
            @Model.Course
        </td>
    </tr>
    <tr>
        <td>
            <b>Collage</b>
        </td>
        <td>
            @Model.Collage
        </td>
    </tr>
    <tr>
        <td>
            <b>Gender</b>
        </td>
        <td>
            @Model.Gender
        </td>
    </tr>
    <tr>
        <tb>
            <b>City</b>
        </tb>
        <td>
            @Model.City
        </td>
    </tr>
</table>

